# Algorithmes génétiques #

Vous avez demandé à des élèves de classer leurs choix de sujets de PIE et vous ne savez pas comment faire les groupes de travail ? Les algorithmes génétiques sont là pour vous ! Voici un manuel :

In [3]:
import pandas as pd
import numpy as np

## 1. Récupération des données

La première chose à faire est d'organiser un jeu de données. Admettons donc que pour chaque PIE, il y ait des besoins particuliers de compétences en un certain domaine (parmi une liste de domaines que l'on numérote de 1 à Nd), avec un certain niveau de 1 à 10. Puis admettons par la suite, que chaque élève ait une ou plusieurs compétences, chacune avec un certain niveau noté de 1 à 10. Et enfin, chaque élève a ordonné ses cinq sujets préférés, numérotés entre 1 (pour le plus apprécié)et 5 (pour le moins apprécié).

Une fois ce jeu de données réalisé, nous pouvons le charger :

In [4]:
data_eleves = pd.read_csv('DonneesEleves.csv')

data_eleves.head()

,Eleves,Informatique,Dynamique des Fluides,Mecanique du Vol,Gestion de Projet,Anglais,PIE 1,PIE 2,PIE 3,PIE 4,PIE 5
0,Alban,7,10,3,7,3,1,2,3,4,5
1,Benoit,10,9,10,5,10,2,3,4,5,1
2,Cecile,6,4,2,10,8,3,4,5,1,2
3,David,5,6,10,5,7,4,5,1,2,3
4,Etienne,10,2,1,10,4,5,1,2,3,4

In [6]:
data_PIE = pd.read_csv('DonneesPIE.csv')

data_PIE.head()

,PIE,Informatique,Dynamique des Fluides,Mecanique du Vol,Gestion de Projet,Anglais
0,PIE 1,8,8,10,8,9
1,PIE 2,9,8,9,10,8
2,PIE 3,8,8,10,8,8
3,PIE 4,8,9,8,9,8
4,PIE 5,8,8,9,9,8

In [9]:
print(data_eleves.shape, data_PIE.shape)
print(data_PIE.shape[0])

(15, 11) (5, 6)
5

## Initialisation

In [22]:
Ng = 5 #nombre d'élèves par groupe de PIE
Ne = data_eleves.shape[0] # Nombre d'élèves
Npie = data_PIE.shape[0] #Nombre de sujets de PIE

In [16]:
combi_init = np.zeros((Ng, data_PIE.shape[0])) #Combinaison initiale representant les 5 groupes de 5 eleves au plus

In [18]:
vect_sujets = np.zeros(Ne)

In [31]:
combimat = np.random.randint(10,size =(Ng,Npie))
#combimat = np.array((Ng,Npie))
print(combimat)

[[3 1 7 8 7]
 [0 6 2 4 6]
 [9 6 8 9 4]
 [1 1 8 9 4]
 [0 9 5 5 5]]

In [33]:
print(combimat[0])

[3 1 7 8 7]

## 2. Choix d'une fonction à optimiser

La fonction à optimiser est caractéristique des choix de priorité que l'on fait vis-à-vis des différents critères...lequel sera considéré plus important ? Exprimons-la dans cette partie.

In [ ]:

def score_PIE(combi, ):

### Decat' 
à toi de jouer !

## 3. Mise en place de l'algorithme

In [ ]:
sznicjzvuhjbfHL

In [1]:
import numpy as np

In [1]:
print("Hello Decat")

Hello Decat